@media screen and (max-width: 975px){
    img{
        width: 100%;
    }
}
@media screen and (max-width: 770px){
.menu{
    display: none;
}
.menu_burger{
    width: 33px;
    height: 20px;
    border: none;
    padding: 0;
    display: block;
    background: none;
    display: block;
    position: absolute;
    top: 68px;
    right: 30px;
}
.burger_line{
    width: 100%;
    height: 4px;
    background: #000;
    display: block;
    position: relative;

}
.burger_line::after,
.burger_line::before{
    content: '';
width: 100%;
    height: 4px;
    background: #000;
    display: block;
    position: absolute;
    left: 0;
    top: -8px;
}
.burger_line::after{
    top: 8px;
}
.main_btns{
    display: none;
}
.main_info{
   display: block;
}
main_logo{
    margin-bottom: 23px;
}
.main_img__ds{
    display: none;

}
.main_img__mob{
    display: block;
}
}