* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
img{
    display: block;
}

body {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #070707;
    font-family: 'Roboto';
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    color: var(--Black, #070707);
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    padding: 32px 0;
}

.menu a {
    color: #828282;
    font-size: 18px;
    font-weight: 700;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    transition: 0.5s;
}

.menu a:hover {
    color: var(--Black, #070707);
}
.main{
    margin-bottom: 104px;
}

.main_logo {
    font-size: 47px;
    font-weight: 700;
    line-height: 59px;
    width: 124px;
}

.main_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    margin-bottom: 30px;

}

.main_btn {
    border: 0;
    background: none;
    color: #828282;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    border-left: 2px solid #828282;

}

.main_btn:hover,
.main_btn__active {
    color: #070707;
    border-color: #070707;
}

.main_btn:first-child {
    border: none;
}

.main_btns {
    transform: rotate(-90deg)translateX(30%);
}
.about{
    background: #F6F6F6;
    text-align: center;
    padding: 120px 0;
    margin-bottom: 107px;


}
.txt{
    max-width: 485px;
    margin: 0 auto;

}
.txt p{
    margin-bottom: 18px;
}
.txt p:last-child{
    margin-bottom: 0;
}
.skills{
    margin-bottom: 110px;
}
.item_star{
    background: url(../img/Star.svg) no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
}
.item_star__grey{
    background-image: url(../img/item_star_grey.svg);
}
.skills_txt{
    text-align: center;
    margin-bottom: 83px;

}
.item_img img{
    margin: 0 auto 24px;
}
.item_txt{
    text-align: center;
    margin-bottom: 48px;
}
.item_stars{
    justify-content: space-between;
}
.items{
    display: flex;
    justify-content: space-between;
}
.portfolio{
background: #F6F6F6;
padding: 123px 0 96px;
margin: 115px;
}
.portfolio_box{
    margin-bottom: 100px;
}
.portfolio_box:last-child{
    margin-bottom: 0;
}

.portfolio_link{
    text-align: center;
    font-style: 18px;
    font-weight: 500;
    text-decoration-line: underline;
   
}
.portfolio_img{
    margin-bottom: 45px;
}
.portfolio_link a{
    transition: 0.5s;
}

.portfolio_link a:hover{
    color: #828282;
}
footer{
    padding: 0 0 123;

}
.footer_txt{
text-align: center;
font-size: 18px;
max-width: 275px;
margin: 0 auto 30px;
}
.footer_btn{
    color: #FFF;
text-align: center;
font-size: 18px;
line-height: 42px;
background: #070707;
cursor: pointer;
border: 0;
padding: 0 30px;
border-radius: 30px;
}
.footer_phone{
    border-radius: 30px;
    height: 36px;
    padding: 0 30px;
    text-align: center;
    font-style: 18px;
    margin-bottom: 15px;


}
.footer_form{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    margin: 0 auto 86px;
}

.icons{
    display: flex;
    justify-content: center;
    padding: 45px;
}
.footer_img{
    margin: 0 15px;
}
.footer_txt2{
    color: #828282;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto 123px;

}
.menu_burger{
    display: none;
}
.main_img__ mob{
    display: none;
}